{
	email {env.EMAIL}
	admin off
}
# generate cert for turn.aosus.org, but don't serve anything
turn.aosus.org {
	abort
}

mail.aosus.org {
	tls {
		key_type rsa4096
	}
	abort
}

import /etc/caddy/configs/*.caddyfile
