{
	email {env.EMAIL}
	admin off
	key_type rsa4096
}
# generate cert for turn.aosus.org, but don't serve anything
turn.aosus.org {
	abort
}

mail.aosus.org {
	abort
}

import /etc/caddy/configs/*.caddyfile
